body {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    background-color: #DA5C5C;
}

section {
    height: calc(100vh - 155px);
    background-color: #FFF ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 1080px;
    height: 450px;
    display: flex;
    
}
 
.sideLeft{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    
}
.sideLeft0{
    width: 100%;
    height: 100%;
    background-color: rgb(1, 236, 158);
}
.sideRight {
    width: 100%;
    height: 100%;
    background-image: url("./../img/background.svg");
    background-repeat: no-repeat;
    
}

footer {
    height: 85px;
    background-color: #263238;
}